/* ul > li селектор прямого потомка */
/* p + h1 color red селектор соседнего потомка, красным окрасится только h1 */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  background-image: url(../img/bg.jpg);
  padding-bottom: 214px;
}

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  padding-left: 0;
  list-style-type: none; /*убрать точки у меню*/
}

.info__item {
}

.info-left .info__item {
  margin-right: 32px;
}

.info-right .info__item {
  margin-left: 17px;
}

.info__link {
  text-decoration: none;
}

.head {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 40px 25px;
  margin-bottom: 220px;
}

.nav {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.nav__item {
  margin-left: 8px;
}

.nav__link {
  color: #444;
  text-decoration: none;
  padding: 10px 19px 11px;
  border: 1px solid transparent; /* transparent это прозрачность*/
}

.nav__link:hover {
  color: #30a3f0;
  border-radius: 5px;
}

.nav__link.active {
  color: #30a3f0;
  border: 1px solid #30a3f0;
  border-radius: 5px;
  padding: 10px 19px 11px;
}

.main-title {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}

.main-title p {
  font-size: 18px;
  color: #30a3f0;
}

.main-title h1 {
  font-size: 45px;
  max-width: 720px;
  color: #fff;
  margin: 0 auto;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 60px;
}

.element {
  width: 1px;
  height: 100px;
  background-color: #2988c7;
  margin: 0 auto;
}

.element-top {
  margin-bottom: 29px;
}

.element-bottom {
  margin-top: 32px;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: #30a3f0;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #30a3f0;
  border-radius: 5px;
  padding: 18px 42px 16px;
}

.btn:hover {
  background-color: #30a3f0;
  color: #fff;
}

.info__item,
.info__link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3);
}

.info__link:hover {
  color: #30a3f0;
}

.page-line {
  border-bottom: 1px solid #e4e4e4;
}

.box {
  display: flex;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

.box__item {
  flex-basis: 33.333%; /* ширина блоков */
  padding: 0 60px 110px;
}

.box__item_center {
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}

.box h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.company__title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.company__title span {
  font-size: 16px;
  font-weight: 400;
  color: #30a3f0;
  display: block;
  text-transform: initial;
  margin-bottom: 18px;
}

.line {
  width: 53px;
  height: 16px;
  display: block;
  background-image: url(../img/line.svg);
  background-repeat: no-repeat;
}

.text {
  color: #707070;
}

.company__list {
  color: #222;
}

.portfolio {
  text-align: center;
}
